:root {
    --OURO-SANDOW: #FFD700;
    --PRETO-ACADEMIA: #0A0A0A;
    --BRANCO-REVISTA: #F2F2F2;
    --BRONZE-TAN: #ffbb00;
    --SOMBRA-PESADA: #161616;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--PRETO-ACADEMIA);
    color: var(--BRANCO-REVISTA);
    overflow-x: hidden;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: 100px;
    z-index: 999;
    transition: all 0.5s ease-in-out;
    animation: decima 1s ease-in-out;
}

nav.sc {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    height: 100px;
}

@keyframes decima {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}

nav.sc .navItems {
    color: var(--BRANCO-REVISTA);
    font-weight: 700;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 185px;
    text-transform: uppercase;
    color: var(--OURO-SANDOW);
    text-align: center;
    line-height: 1.2;
    letter-spacing: 5px;
    animation: esquerda 1.5s ease-in-out;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}

@keyframes esquerda {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5vw;
    color: var(--BRONZE-TAN);   
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: center;
    animation: direita 1.5s ease-in-out;
    line-height: 1.3;
    padding-bottom: 40px;
    font-size: 40px;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.5);
}

@keyframes direita {
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 80px;
    background-color: var(--SOMBRA-PESADA);
    border-top: 2px solid var(--OURO-SANDOW);
}

footer.ft {
    background-color: var(--OURO-SANDOW);
    border-top-color: var(--PRETO-ACADEMIA);
}

a{
    background-color:var(--BRONZE-TAN);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    min-width: 260px;
    min-height: 60px;
    padding: 8px 12px;
    border-radius: 20px;
    transition: 0.3s;
    text-decoration: none;
    color: var(--SOMBRA-PESADA);
    box-shadow: 0 2px 5px var(--PRETO-ACADEMIA);
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    animation: botao 1.5s ease-in-out;

}
@keyframes botao {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
}
a:hover{
    background-color: var(--PRETO-ACADEMIA);
    color: var(--OURO-SANDOW);
}
p{
    font-size: 1.2rem;
    color: var(--BRANCO-REVISTA);
    max-width: 800px;
    line-height: 1.6;
    padding: 20px;
}

hr{
  width: 100%;
  height: 1px;
  border: 0px;
  border-top: 1px solid var(--OURO-SANDOW);
  background-color: #dddddd;

}